<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planning des Soutenances</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        td {
            height: 50px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h1>Planning des Soutenances</h1>
    <h2>Debug Info</h2>
    <pre>
        Planning: {{ planning }}
        Planning Hours: {{ planning_hours }}
        Days: {{ days }}
    </pre>
    {% load custom_filters %}
    <table>
        <thead>
            <tr>
                <th>Heures / Jours</th>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for heure in planning_hours %}
            <tr>
                <td>{{ heure }}</td>
                {% for day in days %}
                    <td>
                        {% with day_planning=planning|get_item:day %}
                            {% if day_planning %}
                                {% with hour_planning=day_planning|get_item:heure %}
                                    {% if hour_planning %}
                                        {% for soutenance in hour_planning %}
                                            <p>Salle: {{ soutenance.salle }}</p>
                                            <p>Leader de groupe: {{ soutenance.leader_groupe }}</p>
                                            <p>Jury: {{ soutenance.enseignants|join:", " }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p>Pas de soutenance</p>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <p>Pas de planning pour ce jour</p>
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
